
.header {
  border-bottom: 2px solid #dee2e6;
  top: 0;
  z-index: 1020;
  background-color: whitesmoke;
  width: 100%;
  height: 87px;
  display: flex;
  align-items: center;
}

.cart-icon {
  transition: transform 0.2s ease;
  position: relative;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.bi-cart3 {
  color: #2c3e50;
}

.container-fluid {
  max-width: 100%;
}

@media (max-width: 767px) {
  .header {
    z-index: 1040;
  }
}