
<div class="ring-wrapper">
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    
    <div class="login">
      <h2>Login</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <div class="inputBx">
          <input 
            type="text" 
            placeholder="Username"
            formControlName="username"
            autocomplete="off"
            [class.error]="usernameControl?.invalid && usernameControl?.touched"
          />
          <div class="error-message" *ngIf="usernameControl?.invalid && usernameControl?.touched">
            Username is required
          </div>
        </div>
        
        <div class="inputBx password-wrapper">
          <input 
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            autocomplete="current-password"
            [class.error]="passwordControl?.invalid && passwordControl?.touched"
          />
          <button 
            type="button" 
            class="password-toggle" 
            (click)="togglePassword()"
            tabindex="-1"
          >
            <i class="bi" [class.bi-eye-slash]="showPassword" [class.bi-eye]="!showPassword"></i>
          </button>
          <div class="error-message" *ngIf="passwordControl?.invalid && passwordControl?.touched">
            Password is required
          </div>
        </div>
        
        <div class="alert-error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
        
        <div class="inputBx">
          <input 
            type="submit" 
            value="Sign in"
            [disabled]="loginForm.invalid"
            [class.disabled]="loginForm.invalid"
          />
        </div>
        
      </form>
    </div>
  </div>
</div>